<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prosta Strona HTML</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container">
    <!-- Pierwszy div (menu) -->
    <div class="menu" id="menu">
        <h2>&#9776;</h2>
        <!-- Menu rozwijane -->
        <div class="dropdown-content" id="dropdownContentMenu">

            <div>Katalog</div>
            <div class = "kontakt">Kontakt</div>
        </div>
    </div>

    <div class="logo" id="reloadButton">
        Sieć bibliotek
    </div>

    <!-- Trzeci div (location) -->
    <div class="search">
        <i class="fa-solid fa-search fa-lg s-icon"></i>
        <label>
            <input type="text" placeholder="..." class = "search-field">
        </label>
    </div>
</div>

<!-- Pierwszy dodatkowy div -->
<div class="additional-div1">
    <div id="slideshow" class="slider-container">
        <button class="prev">&#10094;</button>
        <img class="slides" src="" alt="Slide 1">
        <img class="slides" src="" alt="Slide 2">
        <img class="slides" src="" alt="Slide 3">
        <img class="slides" src="" alt="Slide 4">
        <img class="slides" src="" alt="Slide 5">
        <button class="next">&#10095;</button>
    </div>
</div>

<!-- Drugi dodatkowy div -->
<div class="additional-div2">
    <button class="login-button" id="loginButton">
        <i class="fa-regular fa-user fa-lg"></i>
        <span class="button-text">Log in</span>

    </button>
</div>

<script src="js/main.js"></script>
<script src="https://kit.fontawesome.com/4349d29944.js" crossorigin="anonymous"></script>
<script src="js/server.js"></script>
</body>
</html>

