<!DOCTYPE html>
<html lang = "pl">

<head>
    <meta charset = "utf-8">
    <title>Library Network - Start</title>
    <meta name = "description" content = "Searching for books and e-books in the library. Find, reserve and borrow a book at the library. Discover the library."/>			      <!-- opis pojawiający się przed włączeniem strony -->
    <meta name = "keywords" content = "library, books, ebooks,librarian, cataloguing, online catalog, online catalog search, book loan,
                                        reader, reading promotion, ordering a book, bestsellers"/>
    <meta name = "author" content = "Weronika Gaweł, Hanna Harkusha"/>

    <link rel = "stylesheet" href = "/css/styles.css"/>
</head>

<body>
<div id = "wholepage">
    <header id = "header" class = "" role = "banner">
        <div id = "topbar" class = "head">
            <img class = "topbar-image" src="/images/blueSuede.png">
            <div id = "topbar-left" class = "headLeft"></div>
            <div id = "topbar-right" class = "headRight"></div>
        </div>
        <div id = "logobar" class = "head">
            <div id = "logobar-left" class = "headLeft">
                <a href = "index.html">
                    <img class = "logo" src="/images/round_logo.png" alt = "logo">
                </a>
            </div>
            <div id = "logobar-center" class = "headCenter">
                <h2>Sieć bibliotek</h2>
            </div>
            <div id = "logobar-right" class = "headRight">
                <form id="myForm">-->
                    <label for = "search">Wyszukaj pozycję:</label>
                    <input type = "text" id = "search" name = "search">
                    <button type = "button" onclick = "searchData()">Szukaj</button>
                </form>
            </div>
        </div>
        <div id = "navibar" class = "head">
            <ol>
                <li><a class = "option">Start</a>
                    <a href = "index.html"></a>
                </li>
                <li><a class = "option">Aktualności</a>
                    <ul>
                        <li><a href = "">Nadchodzące wydarzenia</a></li>    <!-- add reference to the option -->
                        <li><a href = "">Wszystkie wydarzenia</a></li>      <!-- add reference to the option -->
                        <li><a href = "">Komunikaty</a></li>                <!-- add reference to the option -->
                    </ul>
                </li>
                <li><a class = "option">Filie Biblioteczne</a>
                    <ul>
                        <li><a href = "">Filia Wierzba</a></li>             <!-- add reference to the option -->
                        <li><a href = "">Filia Dąb</a></li>                 <!-- add reference to the option -->
                        <li><a href = "">Filia Sosna</a></li>               <!-- add reference to the option -->
                        <li><a href = "">Filia Jesion</a></li>              <!-- add reference to the option -->
                        <li><a href = "">Filia Topola</a></li>              <!-- add reference to the option -->
                    </ul>
                </li>
                <li><a class = "option">Nowości</a>
                    <a href = ""></a>                                       <!-- add reference to the option -->
                </li>
                <li><a class = "option">Kontakt</a>
                    <a href = ""></a>                                       <!-- add reference to the option -->
                </li>
            </ol>
            <div style = "clear:both;"></div>
        </div>
    </header>
    <section id = "inset" class = "">
        <div id = "backgroundImg" class = "backImg">
            <img src = "/images/olBooks.png" alt = "inset">
        </div>
    </section>
    <section id = "buttons" class = "">
        <div class = "head">
            <div class = "button">
                <h3>Zaloguj się
                    <a href = "">Okno logowania</a>                             <!-- add reference to the option -->
                </h3>
            </div>
            <div class = "button">
                <h3>Zarejestruj się
                    <a href = "">Okno rejestracji</a>                           <!-- add reference to the option -->
                </h3>
            </div>
        </div>
    </section>
    <section id = "content" class = "">
        <div class = "head">
            <main id = "maincontent" class = "maincontent" role = "main">
                <div class = "page-header">
                    <h1>
                        <span>Ważne informacje</span>
                    </h1>
                </div>
                <div class = "info">
                    <div class = "first-info">
                        <div class = 'info-image'>
                            <img src = "" alt = "plakat">                       <!-- add reference to the image -->
                        </div>
                        <h2 class = "info-title">
                            <a href = "">Tytuł 1</a>                            <!-- add reference to the option -->
                        </h2>
                        <dl class = "info-creator">
                            <dd class = "createdby">
                                <span>Imię i Nazwisko</span>
                            </dd>
                            <dd class = "published">
                                <time datetime = "">Opublikowano: </time>
                            </dd>
                        </dl>
                        <p style = "text-align: justify;">Opis wydarzenia</p>
                    </div>
                    <div class = "remaining-info">
                        <div class = 'info-image'>
                            <img src = "" alt = "plakat">                       <!-- add reference to the image -->
                        </div>
                        <h2 class = "info-title">
                            <a href = "">Tytuł 2</a>                            <!-- add reference to the option -->
                        </h2>
                        <dl class = "info-creator">
                            <dd class = "createdby">
                                <span>Imię i Nazwisko</span>
                            </dd>
                            <dd class = "published">
                                <time datetime = "">Opublikowano: </time>
                            </dd>
                        </dl>
                        <p style = "text-align: justify;">Opis wydarzenia</p>
                        <div class = "lead2">
                            <div class = 'info-image'>
                                <img src = "" alt = "plakat">                   <!-- add reference to the image -->
                            </div>
                            <h2 class = "info-title">
                                <a href = "">Tytuł 3</a>                        <!-- add reference to the option -->
                            </h2>
                            <dl class = "info-creator">
                                <dd class = "createdby">
                                    <span>Imię i Nazwisko</span>
                                </dd>
                                <dd class = "published">
                                    <time datetime = "">Opublikowano: </time>
                                </dd>
                            </dl>
                            <p style = "text-align: justify;">Opis wydarzenia</p>
                            <span class = "info-separator"></span>
                        </div>
                        <div class = "lead3">
                            <div class = 'info-image'>
                                <img src = "" alt = "plakat">                   <!-- add reference to the image -->
                            </div>
                            <h2 class = "info-title">
                                <a href = "">Tytuł 4</a>                        <!-- add reference to the option -->
                            </h2>
                            <dl class = "info-creator">
                                <dd class = "createdby">
                                    <span>Imię i Nazwisko</span>
                                </dd>
                                <dd class = "published">
                                    <time datetime = "">Opublikowano: </time>
                                </dd>
                            </dl>
                            <p style = "text-align: justify;">Opis wydarzenia</p>
                            <span class = "info-separator"></span>
                        </div>
<!--                        <div class = "pagination">-->
<!--                            <ul class = "list">-->
<!--                                <li class = "scroll-more">-->
<!--                                    <a>-->
<!--                                        <span-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                </div>
            </main>
        </div>
    </section>
    <footer id = "footer" role = "contentinfo">
        <div id = "bottombar" class = "head">
            <div id = "bottombar-left" class = "headLeft">
                <p>
                    © Biblioteka za Lasem
                </p>
            </div>
            <div id = "bottombar-right" class = "headRight">
                <a href = "#wholepage">up</a>
            </div>
        </div>
    </footer>
</div>
<!--    <div id = 'container'></div>-->

<!--    <div id = "topbar">-->
<!--        <img src = "/images/round_logo.png" alt="" class = "logo">-->
<!--        <h1>Sieć bibliotek</h1>-->
<!--        <form id="myForm">-->
<!--            <label for = "search">Wyszukaj pozycję:</label>-->
<!--            <input type = "text" id = "search" name = "name">-->
<!--            <button type = "button" onclick = "searchData()">Szukaj</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div id = "inset" class = "inset">-->
<!--        <img src = "/images/olBooks.png" alt="">-->
<!--        <h1>Czytaj, marz, odkrywaj: Biblioteka Twoich wspomnień</h1>-->
<!--    </div>-->



    <script>
        function searchData() {   //JavaScript
            var search = document.getElementById("search").value;

            var req = new XMLHttpRequest();

            req.open("POST", "http://localhost:8081/receiveData", true);
            req.setRequestHeader("Content-Type", "application/json");

            var data = JSON.stringify({ "search": search });

            req.onreadystatechange = function() {
                if (req.readyState === 4 && req.status === 200) {
                    console.log("Szukane: " + search);
                }
            };

            req.send(data);
        }
    </script>
</body>

</html>